* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

body {
  background: var(--dark);
}

img {
  max-width: 100%;
}

:root {
  --light: hsl(0, 0%, 100%);
  --medium: hsl(225, 40%, 83%);
  --dark: hsl(224, 35%, 11%);
  --primaryDark: hsl(157, 74%, 62%);
  --primaryLight: hsl(157, 100%, 85%);
  --secondaryDark: hsl(225, 26%, 23%);
  --secondaryLight: hsl(225, 21%, 45%);
  --error: hsl(0, 96%, 61%);
}

h1 {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.375rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primaryDark);
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: left;
    margin-bottom: 1.9375rem;
  }
}
@media screen and (min-width: 48rem) {
  h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
    margin-bottom: 1.5rem;
  }
}

p {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.5625rem;
  text-align: center;
  color: var(--medium);
  margin-bottom: 2rem;
  opacity: 0.7;
}
@media screen and (min-width: 48rem) {
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
    width: 27.8125rem;
    margin-bottom: 2.5rem;
  }
}

span {
  color: var(--light);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 3.875rem;
  padding-bottom: 5.875rem;
}
@media screen and (min-width: 48rem) {
  .wrapper {
    padding-top: 3.125rem;
    max-width: 64rem;
  }
}
@media screen and (min-width: 90rem) {
  .wrapper {
    max-width: 90rem;
    padding: 0;
  }
}

.container {
  padding: 0 1.5rem;
}
@media screen and (min-width: 48rem) {
  .container {
    padding-left: 2.4375rem;
  }
}
@media screen and (min-width: 90rem) {
  .container {
    padding: 0 0 0 10.3125rem;
  }
}

.logo {
  margin: 0 auto 3.5625rem;
  width: 8.4375rem;
}
@media screen and (min-width: 48rem) {
  .logo {
    margin: 0 0 9.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .logo {
    position: relative;
    top: -1.75rem;
    margin-bottom: 4.6875rem;
  }
}

.background-image {
  position: relative;
  background: url("../images/mobile/image-host.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
  max-height: 41.6875rem;
}
.background-image::after {
  position: absolute;
  content: "";
  background: var(--dark);
  opacity: 0.95;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 48rem) {
  .background-image {
    background: url("../images/tablet/image-host.jpg") no-repeat top right;
    min-height: 47.9375rem;
  }
  .background-image::after {
    display: none;
  }
}
@media screen and (min-width: 90rem) {
  .background-image {
    background: url("../images/desktop/image-host.jpg") no-repeat top right;
    top: 8.125rem;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .main-section {
    background: var(--dark);
    padding-top: 5.8125rem;
    width: 39.6875rem;
    margin-bottom: 9.5625rem;
  }
}
@media screen and (min-width: 90rem) {
  .main-section {
    width: 45.1875rem;
  }
}

form {
  position: relative;
}
@media screen and (min-width: 48rem) {
  form {
    width: 26.6875rem;
    margin-bottom: 4rem;
  }
}

input {
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-weight: 400;
  height: 2.875rem;
  width: 100%;
  border-radius: 1.75rem;
  border: none;
}
input:focus {
  outline: none;
}

input[type=email] {
  color: var(--light);
  padding-left: 1.875rem;
  background: var(--secondaryDark);
  margin-bottom: 1rem;
}
input[type=email]:active {
  color: var(--light);
}
input[type=email]:focus {
  border: 1px var(--primaryDark) solid;
}
@media screen and (min-width: 48rem) {
  input[type=email] {
    height: 3.5rem;
    margin-bottom: 0;
  }
}

input[type=submit] {
  color: var(--secondaryDark);
  background: var(--primaryDark);
}
input[type=submit]:hover, input[type=submit]:focus {
  background: var(--primaryLight);
  box-shadow: 0 1.5625rem 1.25rem -1.25rem var(--primaryDark);
}
@media screen and (min-width: 48rem) {
  input[type=submit] {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    width: 10.125rem;
  }
}

.podcast-strip {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
  opacity: 0.7;
}
@media screen and (min-width: 48rem) {
  .podcast-strip {
    order: 1;
    margin-bottom: 0;
    width: 33.5rem;
    height: 1.8125rem;
    justify-content: space-between;
  }
}

.email-error {
  display: none;
  font-weight: 400;
  padding-left: 1.875rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: var(--error);
  text-align: left;
  margin: -0.625rem 0 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .email-error {
    margin: 0.3125rem 0 0.3125rem;
  }
}

.dots {
  display: none;
}
@media screen and (min-width: 48rem) {
  .dots {
    display: block;
  }
}
@media screen and (min-width: 90rem) {
  .dots {
    display: block;
    position: absolute;
    bottom: 4rem;
    right: 0;
  }
}