:root {
  --light: hsl(0, 0%, 100%);
  --medium: hsl(225, 40%, 83%);
  --dark: hsl(224, 35%, 11%);

  --primaryDark: hsl(157, 74%, 62%);
  --primaryLight: hsl(157, 100%, 85%);

  --secondaryDark: hsl(225, 26%, 23%);
  --secondaryLight: hsl(225, 21%, 45%);

  --error: hsl(0, 96%, 61%);
}
