.dots {
  display: none;
  @media screen and (min-width: 48rem) {
    display: block;
  }
  @media screen and (min-width: 90rem) {
    display: block;
    position: absolute;
    bottom: 4rem;
    right: 0;
  }
}
