.email-error {
  display: none;
  font-weight: 400;
  padding-left: 1.875rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: var(--error);
  text-align: left;
  margin: -0.625rem 0 0.3125rem;
  @media screen and (min-width: 48rem) {
    margin: 0.3125rem 0 0.3125rem;
  }
}
