.podcast-strip {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
  opacity: 0.7;

  @media screen and (min-width: 48rem) {
    order: 1;
    margin-bottom: 0;
    width: 33.5rem;
    height: 1.8125rem;
    justify-content: space-between;
  }
}
